.d3_select-main {
    min-height: calc(90vh - var(--navbar-height));
    background-color: bisque;
}

.svg-wrapper {
    padding-top: 20px;
}

.select-h1 {
    display: flex;
    justify-content: center;
}
.select-btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.select-btns {
    display: flex;
    justify-content: center;
}



.s-btns {
    width: 100px;
    border: solid grey 1px;
    border-radius: 10px;
    background-color: white;
    color: grey;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    outline: none;
    appearance: unset;
   
}

.s-btn-active {
    background-color: rgb(58, 223, 121);
    color: black;
    border: solid rgb(46, 43, 43) 1px;
    transition: all .4s;
}

/* .select-btn-group button:focus {
    transform: scale(.90);
    background-color: aquamarine;
} */

.svgselection-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.svgselection {
    max-width: 410px;
    max-height: 110px;
}

.svgselection circle, rect {
    fill:rgba(248, 248, 248, 0.5);
}

.select-output {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .select-btn-group {
        grid-template-columns: 1fr 1fr;
    }
} 