.nav-content-main {
    position: fixed;
    width: var(--sidebar-width);
    background-color: var(--nav-bg-color);
    height: calc(100% - var(--navbar-height));
    transition: all .4s ease-in-out;
}

.nav-content-main-cut {
    position: fixed;
    width: var(--sidebar-width-cut);
    background-color: var(--nav-bg-color);
    height: calc(100% - var(--navbar-height));
    transition: all .4s ease-in-out;
}

.aside_icons-container {
    position: relative;
    height: 3.125em;
    margin-top: 1.875em;
    color: whitesmoke;
}

.aside_svg_div-wrap {
    display: grid;
    grid-template-columns: 5em 1fr;
    text-align: center;
}

.kkkk {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.aside_text {
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .nav-content-main {
        transform: translate(-70px);
    }

}