.nav-content-main {
    position: fixed;
    width: var(--sidebar-width);
    background-color: var(--nav-bg-color);
    height: calc(100% - var(--navbar-height));
    transition: all .3s ease-in-out;
    overflow: auto;
}

.nav-content-main-cut {
    position: fixed;
    width: var(--sidebar-width-cut);
    background-color: var(--nav-bg-color);
    height: calc(100% - var(--navbar-height));
    transition: all .3s ease-in-out;
    overflow: auto;
}


@media only screen and (max-width: 600px) {
    .nav-content-main {
        transform: translate(-70px);
    }

}