.top10-container {
    background-color: rgb(250, 243, 235);
}

.top10-grid-info-chk {
    display: grid;
    grid-template-areas: 
    'top'
    'bottom'
}

.head-content {
    margin-bottom: 0.9375em;
}

.head-content h1 {
    text-align: center;
}

.head-content h1 {
    margin-bottom: 5px;
    color: #005ccb;
}

.head-content p {
    width: 200px;
    margin: auto;
    font-weight: 600;
    text-align: center;
    color: #415770;
}

.check-box-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.movie-info {
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-area: top; illustration purposes only this is the default already**/
    margin-bottom: 0.9375em;
}

#m-choices {
    /* grid-area: bottom;  illustration purposes only this is the default already*/
}



.movie-post {
    margin-left: 10px;
    background-color: rgb(165, 148, 148);
    overflow: auto;
}

.movie-post h2 {
    margin-bottom: 5px;
    color: #005ccb;
    text-align: center;
}

.movie-post p {
    padding: 0 0 0 20px;
    font-size: 1.2em;
    font-weight: 400;
    white-space: nowrap;
}
.movie-post p span {
    padding-right: 10px;
    font-weight: 700;
    font-size: 1.2em;
    color: #005ccb;
}

#m-selected {
    display: flex;
    justify-content: space-evenly;
}
.m-selected-items {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    max-width: 100px;
    text-align: center;
}

.m-selected-items h2 {
    color: #005ccb;
}

#m-legend {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    place-items: center;
    margin-top: 20px;
}

.m-legend-items {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
}

.m-legend-items p {
    text-align: center;
}

#m-gross-dura {
    display: flex;
    
}

#m-gross-dura div {
    width: 100%;
    height: 100%;
}
#m-gross-dura div p {
    text-align: center;
}

.m-gross-svg {
    max-width: 500px;
}

#m-votes {
    text-align: center;
    margin-top: 20px;
}

.m-svg-votes {
    max-width: 800px;
}



@media only screen and (max-width: 600px) {
    .d3-projects-main {
        flex-flow: column;
    }

    .movie-info {
        grid-area: bottom;
        grid-template-columns: 1fr;
        background-color: initial;
        margin-bottom: initial;
        margin-top: 0.9375em;
    }

    #m-choices {
        grid-area: top;
    }

    .movie-list {
        padding: 0 5px;
    }

    .m-list-item {
    }
    .check-box-group {
        gap: 5px;
    }

    .movie-post {
        margin-left: initial;
        margin-top: 20px;
        height: 250px;
        
    }

    #m-legend {
        grid-template-columns: repeat(4, 1fr);
    }

    #m-gross-dura {
        flex-flow: column
        
    }




    /**/
    .movie-post::-webkit-scrollbar {
        visibility: hidden;
    }

    .movie-post::-webkit-scrollbar-thumb {
        visibility: hidden;
    }

    .movie-post::-webkit-scrollbar-track {
        visibility: hidden;
    }
}




/* other stuffs */
/* Track */

.movie-list::-webkit-scrollbar {
    width: 5px;
}

.movie-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 5px;
}
  
  /* Handle */
.movie-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
  /* Handle on hover */
.movie-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**/
.movie-post::-webkit-scrollbar {
    height: 7px;
    background-color: white;
}

.movie-post::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.movie-post::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 5px;
}