.navulwrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.navulright {
    position: relative;
    display: flex;
    gap: 10px;
}

.navulright li {
    margin: 1rem;
}

.navulright svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.navitem-hover {
    position: fixed;
}

/* .navulright svg:hover {
    transform: rotate(20deg);
} */