.navulwrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.navulright {
    display: flex;
    gap: 10px;
}

.navulright li {
    margin: 1rem;
}