
.nav-wrapper {
    position: fixed;
    width: var(--navbar-width);
    height: var(--navbar-height);
    background-color: var(--nav-bg-color);
    transition: all .4s ease-in-out;
    /*using this because nav wrapper is not fixed only this is fixed
    and when not fixed the background move away*/

}

.nav-wrapper-full {
    position: fixed;
    width: var(--navbar-width-cut);
    height: var(--navbar-height);
    background-color: var(--nav-bg-color);
    transition: all .4s ease-in-out;
}

.nav-left-right-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-left {
    width: 100%;
}

.navbar-right {
    min-width:225px;
    width: 100%;
}




@media only screen and (max-width: 600px) {
    /* .nav-wrapper {
        transition: none;
    } */

    /* .nav-wrapper-full {
        animation: nav-no-move 0s linear 0s forwards;
    } */

    .navbar-left {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        overflow: hidden;
    }

    .navbar-right {
        display: none;
    }

    @keyframes nav-no-move {
        from { width: var(--navbar-width-cut);;
    
        }
        to {
            width: var(--navbar-width-full);;
        }
    }
}



