.d3-container {
    background-color: bisque;
}
.d3-main {
   
}

.d3-projects-main {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {
    .d3-projects-main {
        flex-flow: column;
    }
}